// Copyright 2026 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.module-InstallScreenAccountSwitcher {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  inset-block-start: 44px;
  inset-inline-end: 24px;
  max-width: 360px;
  position: absolute;
  z-index: 2;
  -webkit-app-region: no-drag;

  &__label {
    @include mixins.font-body-2;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
  }

  &__error {
    @include mixins.font-body-2;
    color: variables.$color-accent-red;
  }
}
